language: ruby
cache:
- bundler
install:
- bundle install
rvm:
- 2.0
- 2.1
- 2.2
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
- bundle exec rake default
- gem build sensu-plugins-mesos.gemspec
- gem install sensu-plugins-mesos-*.gem
deploy:
  provider: rubygems
  api_key:
    secure: U6EYo7GWTDVOLZarEndjkQ6N3GnzOjYVDLKTQ1agNhOnxkbZtRYqXzcZkZIEIrWR6HkzKbuv4yVotLwnDkbBLkaVCG4BCqONmS4FYE2UJoXQPb37kwkzkedF9FSCD6N/bEnQW9vhifEDtWrH0+m/vA7o8a5C5NjtTrBMi+FGAuk=
  gem: sensu-plugins-mesos
  on:
    tags: true
    all_branches: true
    rvm: 2.0
    rvm: 2.1
    rvm: 2.2
    repo: sensu-plugins/sensu-plugins-mesos
